/* Fonts */
@font-face {
  font-family: "eurofurence";
  src: url('../font/eurofurence.ttf') format('truetype');
  src: url('../font/eurofurence.ttf') format('truetype');
}

h4 {
  padding-left: 12% !important;
}

/* Variables */

:root {
  --delay: .15;
  /* Color */
  --primary_color_1: rgb(118, 3, 141);
  --secondary_color_3: rgba(64, 50, 148, 1);
}

.primary-color-1 {
  background: linear-gradient(var(--secondary_color_deg), var(--secondary_color_1), var(--secondary_color_2));
}

.secondary-color-3 {
  color: var(--secondary_color_2);
}

/* Content */

body {
  margin: 0;
}

table{
  margin: inherit;
}

a img {
  border: 0px;
}

::selection {
  color: #fff;
  user-select: none
}

.android-search-box .mdl-textfield__input {
  color: rgba(0, 0, 0, 0.87);
}

/* Class */

.android-header .mdl-menu__container {
  z-index: 50;
  margin: 0 !important;
}

.logo-image {
  height: 28px;
}

.logo-image-2 {
  height: 80%;
}

.android-header {
  overflow: visible;
  background-color: white;
}

.android-header .material-icons {
  color: #767777 !important;
}

.android-header .mdl-layout__drawer-button {
  background: transparent;
  color: #767777;
}

.android-header .mdl-navigation__link {
  color: #757575;
  font-weight: 700;
  font-size: 14px;
}

.android-search-box.is-focused+.android-navigation-container {
  opacity: 0;
  width: 100px;
}

.android-search-box {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  margin-left: 16px;
  margin-right: 16px;
}

.android-more-button {
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
}

.android-drawer {
  border-right: none;
}

.android-drawer-separator {
  height: 1px;
  background-color: #dcdcdc;
  margin: 8px 0;
}

.android-drawer .mdl-layout-title {
  position: relative;
  background: linear-gradient(30deg, var(--secondary_color_3), var(--primary_color_1));
  height: 160px;
}

.android-drawer .logo-image {
  position: absolute;
  bottom: 16px;
}

.android-be-together-section {
  position: relative;
  height: 800px;
  width: auto;
  background-color: #f3f3f3;
  background: url('images/slide01.jpg') center 30% no-repeat;
  background-size: cover;
}

.logo-font {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  color: #767777;
  font-weight: 500;
}

.android-slogan {
  font-size: 60px;
  padding-top: 160px;
  height: 100vh;
}

.android-sub-slogan {
  font-size: 21px;
  padding-top: 24px;
}

/* My adds */

.font-title {
  margin: auto !important;
  text-align: center;
  line-height: 4vh;
  color: black;
  font-weight: 00;
  font-size: 5vh;
  font-family: "eurofurence" !important;
}

.font-buget {
  margin: auto !important;
  text-align: center;
  line-height: 4vh;
  font-family: "eurofurence" !important;
  color: dimgray;
  font-weight: 00;
  font-size: 3vh;
}

.mdl-textfield--expandable {}

.mdl-card {
  border-radius: 10px !important;
}

.mdl-layout__content {
  width: 100vw;
}

.actions-fab {
  display: table;
  position: relative;
  margin: 1vw;
}

.automations {
  animation-duration: 1s;
  animation-delay: 2s;
  position: fixed;
  right: 1vw;
  bottom: 1vw;
  z-index: 3;
  display: block;
}

.animated-delay-1 {
  animation-delay: calc(var(--delay) * 2s);
}

.animated-delay-2 {
  animation-delay: calc(var(--delay) * 4s);
}

.animated-delay-3 {
  animation-delay: calc(var(--delay) * 6s);
}

.animated-delay-4 {
  animation-delay: calc(var(--delay) * 8s);
}

.animated-delay-5 {
  animation-delay: calc(var(--delay) * 10s);
}

.animated-delay-all {
  animation-delay: calc(var(--delay)s / 1024);
}

.init-box-position {
  padding: 5vh 0 5vh 0 !important;
}

.init-box {
  position: relative;
  min-height: 70vh;
  height: auto;
  border-radius: 10px;
  background: white;
  text-align: center;
  padding-bottom: 5vh;
  padding-top: 5vh;
  z-index: 10;
}

.profile-circle {
  position: absolute;
  top: 5%;
  height: 15vh !important;
  width: 15vh !important;
  border-radius: 50%;
  z-index: 3;
  font-size: 5vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.material-icons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.image {
  background-image: url("https://img.kpopmap.com/2018/03/jonggil-profile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain !important;
}

.image:hover {
  opacity: 0.3;
  transition: all .3s;
  opacity: 0;
  background: rgb(0, 0, 0)
}

.portfolio-contact form {
  max-width: 550px;
  margin: auto;
}

.portfolio-contact .mdl-textfield {
  width: 100%;
}

.portfolio-max-width {
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
}

.btn-close {
  transition: transform 1s;
}

.btn-close:hover {
  transform: rotate(180deg);
}

.mdl-button--fab.mdl-button--mini-fab {
  float: right;
  right: 5%;
  width: 32px !important;
  height: 32px !important;
  min-width: 30px !important;
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, .03), 0 1px 1px 0 rgba(0, 0, 0, .05);
}

.mdl-button--fab.mdl-button--colored {
  background: white !important;
  color: #0091ea !important;
  margin-left: 5px;
}

.mdl-slider__container {
  width: calc(100% + 50px)!important;
  border: 2%;
  float: left;
  left: -25px;
  margin-top: 1.5%;
}

#betters{
  position: absolute;
  top: 2vh;
  height: 20vh;
  display: inline-block;
  text-align: center;
}

/* Id */

#contact .article-image {
  background-image: url("/images/brain_focus.jpg");
  background-repeat: no-repeat;
  background-size: cover !important;
}

#contact .mdl-card__media {
  height: 20vh;
}

#account .mdl-textfield {
  width: 60% !important;
}

#home {
}

#account {
  display: none;
}

#methods {
  display: none;
}

#methods img.article-image {
  width: 100%;
  height: auto;
  filter: grayscale(100%);
}

#profits {
  display: none;
}

#contact {
  display: none;
}

#robot {
  display: none;
}

#robot .mdl-textfield {
  max-width: 400px !important;
  margin-bottom: 1%
}

#robot .mdl-grid {
  height: 0;
  padding: 0;
}
#games.mdl-grid{
  padding-top: 20vh !important; 
}

#stake {
  padding-bottom: 3%;
}

#stake .btn-close:hover {
  transform: none;
}

#stake .amount {
  margin-left: 10px;
  float: right;
  text-align: right;
  z-index: 999;
  padding-left: 10px
}

#stake .perc {
  float: right;
}

.values {
  text-align: right;
  font-size: 16px;
  width: fit-content;
  border: 1px solid rebeccapurple;
  border-radius: 5px;
  padding: 5px;
  text-align: right;
}

#typeMarket .mdl-textfield {
  width: 70px !important;
  margin: 0 !important;
  text-align: center !important;
  
}

#typeMarket input, label {
  text-align: center !important;
  cursor: text !important;
}

/* General */

.mdl-navigation__link,
.mdl-chip__text,
.mdl-textfield__label,
.mdl-button,
.material-icons,
#txtBudget,
h4,
img,
div {
  user-select: none !important;
  -webkit-user-select: none !important;
  -webkit-user-drag: none !important;
}

#products.mdl-data-tabledynamic {
  width: 100%;
}

.mdl-data-tabledynamic {
  overflow: visible !important;
}

.mdl-data-tabledynamic__title {
  width: 100%;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  line-height: normal;
  -webkit-perspective-origin: 165px 56px;
  perspective-origin: 165px 56px;
  -webkit-transform-origin: 165px 56px;
  transform-origin: 165px 56px;
  box-sizing: border-box;
  display: block;
  padding-left: 25px;
  padding-bottom: 10px;
  padding-top: 30px;
}

.mdl-data-tabledynamic {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
  width: 330px;
  z-index: 1;
  position: relative;
  background: #fff;
  border-radius: 2px;
  box-sizing: border-box;
}

.mdl-data-tabledynamic__title-text,
.h2.mdl-data-tabledynamic__title-text {
  float: left;
  font-weight: 400 !important;
}

.mdl-data-tabledynamic__title-text {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  color: inherit;
  display: block;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  overflow: hidden;
  -webkit-transform-origin: 149px 48px;
  transform-origin: 149px 48px;
  margin: 0;
}

.mdl-data-tabledynamic__actions {
  float: right;
  margin-right: 12px;
}

.mdl-data-tabledynamic__actions .mdl-button {
  min-width: 45px;
  padding: 0 10px;
}

.mdl-data-tabledynamic__content {
  overflow: visible !important;
  color: rgba(0, 0, 0, .54);
  font-size: 1rem;
  line-height: 18px;
  padding: 0;
  width: 100%;
}

.mdl-data-tabledynamic__content .mdl-data-table {
  width: 100%;
  border-left: 0;
  border-right: 0;
}

.mdl-data-tabledynamic__content .mdl-data-table {
  box-shadow: none !important;
}

.mdl-data-table .mdl-data-table__label {
  font-weight: 500;
  color: #AFAFAF;
}

.mdl-data-table tr.is-selected .mdl-data-table__label {
  font-weight: 500;
  color: rgba(0, 0, 0, .45) !important;
}

.mdl-data-table__row--selectable tr:hover,
.mdl-data-table__row--selectable tr:active,
.mdl-data-table__row--selectable tr.active {
  background: #f5f5f5;
}

.mdl-dialog__addContent .mdl-dialog__actions {
  padding-top: 0;
}

.mdl-dialog__addContent {
  text-align: left;
  width: 320px;
  height: 180px;
  display: block;
  position: absolute;
  background: #fafafa;
  margin-top: -14px;
  z-index: 99;
}

.mdl-dialog__addContent .mdl-dialog__title {
  color: #1f1f1f !important;
  font-size: 22px !important;
  font-weight: 500;
}

.mdl-dialog__addContent .mdl-dialog__content {
  padding-top: 0;
  padding-bottom: 0;
}

.add-table-content:hover {
  color: #60c7cd;
  cursor: pointer;
}

main#ty-container > .mdl-grid:first-child {
  width: 1000px !important;
  max-width: inherit;
}

main#ty-container #addCustomerAction {
  width: 100% !important;
  max-width: inherit;
} */

.mdl-checkbox            .mdl-checkbox__tick-outline {
  padding-left: 1px !important;
}

.mdl-checkbox.is-checked .mdl-checkbox__tick-outline {
    padding-left: 1px !important;
}