<!doctype html>
<html lang="en">

<head>
  <div id="preloader">
    <div id="loader"></div>
  </div>
  <meta charset="utf-8">
  <!-- <meta http-equiv="refresh" content="1"> -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Introducing Lollipop, a sweet new take on Android.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>Brother Bet</title>
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/png" href="images/favicon.png" />
  <!-- Page styles -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.pink-light_green.min.css" />
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/loader.css">
  <link rel="stylesheet" href="css/animate.css">
  <!-- Offline-->
</head>

<body>
  <div id="progress" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
  <form autocomplete="off" autocomplete="nope" style="display:none">
    <input name="email" type="text">
    <input name="email" type="text">
    <input name="password" type="password">
    <input name="password" type="password">
  </form>
  <div id="trainFactory" style="display: none" class="boxes">
    <div class="overlay"> </div>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--3-col"></div>
      <div class="mdl-cell mdl-cell--6-col">
        <div class='init-box-position' style="margin: auto;">
          <div class=" init-box-robot mdl-shadow--4dp">
            <button id="btnCloseTrain"
              class="btn-close mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored   	">
              <i class=" material-icons">close</i>
            </button>
            <button id="btnSaveTrain"
              class="btn-save mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored   	">
              <i class=" material-icons">save</i>
            </button>
            <button class="btnTogether">
              <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="togetherTrain">
                <span class="mdl-switch__label">Together</span>
                <input type="checkbox" id="togetherTrain" class="mdl-switch__input" checked>
              </label>
            </button>
            <h4>Let's cook a train!</h4>
            <div class="btns">
              <div id="btnsNormalization">
                <div class="position-dirty mdl-textfield mdl-js-textfield mdl-textfield--floating-label 	">
                  <label class="mdl-textfield__label" for="sample3">Normalization</label>
                </div>
                <div>
                  <span id="chipBack" class="mdl-chip mdl-chip--contact">
                    <span class="mdl-chip__contact mdl-color--pink-400 mdl-color-text--white">T</span>
                    <span class="mdl-chip__text">true</span>
                  </span>
                  <span id="chipLay" class="mdl-chip mdl-chip--contact">
                    <span class="mdl-chip__contact mdl-color--pink-400 mdl-color-text--white">F</span>
                    <span class="mdl-chip__text">false</span>
                  </span>
                </div>
              </div>
              <div id="btnsShuffle">
                <div class="market-dirty mdl-textfield mdl-js-textfield mdl-textfield--floating-label 	">
                  <label class="mdl-textfield__label" for="sample3">Shuffle</label>
                </div>
                <div>
                  <span id="chipCorrectScore" class="mdl-chip mdl-chip--contact">
                    <span class="mdl-chip__contact mdl-color--blue-A400	mdl-color-text--white">T</span>
                    <span class="mdl-chip__text">true</span>
                  </span>
                  <span id="chipMatchOdds" class="mdl-chip mdl-chip--contact">
                    <span class="mdl-chip__contact mdl-color--blue-A400 mdl-color-text--white">F</span>
                    <span class="mdl-chip__text">false</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="slider">
              <div class="position-dirty slider-padding mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                <label class="mdl-textfield__label" for="sample3">Learning Rate</label>
                <br>
                <span class="values slider-value">0</span>
                <span class="slider-above">
                  <span class="no-border values amount"><input id="sldLearningRate" class="mdl-slider mdl-js-slider"
                      type="range" min="0.001" max="10.0" step="0.001" value="-1"></span></span>
                </span>
              </div>
            </div>
            <div class="slider">
              <div class="position-dirty slider-padding mdl-textfield mdl-js-textfield mdl-textfield--floating-label 	">
                <label class="mdl-textfield__label" for="sample3">Percent Validation</label>
                <br>
                <span class="values slider-value">0</span>
                <span class="slider-above">
                  <span class="no-border values amount"><input id="sldPercentValidation"
                      class="mdl-slider mdl-js-slider" type="range" min="0.00" max="1.0" step="0.01" value="-1"></span>
                </span>
              </div>
            </div>
            <div class="slider">
              <div class="position-dirty slider-padding mdl-textfield mdl-js-textfield mdl-textfield--floating-label 	">
                <label class="mdl-textfield__label" for="sample3">Batches</label>
                <br>
                <span class="values slider-value">0</span>
                <span class="slider-above">
                  <span class="no-border values amount"><input id="sldBatches" class="mdl-slider mdl-js-slider"
                      type="range" min="1" max="100000" step="1" value="-1" tabindex="0"></span></span>
                </span>
              </div>
            </div>
            <div class="slider">
              <div class="position-dirty slider-padding mdl-textfield mdl-js-textfield mdl-textfield--floating-label 	">
                <label class="mdl-textfield__label" for="sample3">Step</label>
                <br>
                <span class="values slider-value">0</span>
                <span class="slider-above">
                  <span class="no-border values amount"><input id="sldStep" class="mdl-slider mdl-js-slider"
                      type="range" min="0" max="100" step="1" value="-1" tabindex="0"></span></span>
                </span>
              </div>
            </div>
            <div class="slider">
              <div class="position-dirty slider-padding mdl-textfield mdl-js-textfield mdl-textfield--floating-label 	">
                <label class="mdl-textfield__label" for="sample3">Start</label>
                <br>
                <span class="values slider-value">0</span>
                <span class="slider-above">
                  <span class="no-border values amount">
                    <input id="sldStart" class="mdl-slider mdl-js-slider" type="range" min="0" max="10000" value="-1"
                      tabindex="0">
                  </span></span>
                </span>
              </div>
            </div>
            <div class="slider">
              <div class="position-dirty slider-padding mdl-textfield mdl-js-textfield mdl-textfield--floating-label 	">
                <label class="mdl-textfield__label" for="sample3">End</label>
                <br>
                <span class="values slider-value">0</span>
                <span class="slider-above">
                  <span class="no-border values amount">
                    <input id="sldEnd" class="mdl-slider mdl-js-slider" type="range" min="0" max="10000" value="-1"
                      tabindex="0">
                  </span></span>
                </span>
              </div>
            </div>
            <div class="slider" style="display:none">
              <div class="position-dirty slider-padding mdl-textfield mdl-js-textfield mdl-textfield--floating-label 	">
                <label class="mdl-textfield__label" for="sample3">Plot Percent</label>
                <br>
                <span class="values slider-value">0</span>
                <span class="slider-above">
                  <span class="no-border values amount"><input id="sldPlotPercent" class="mdl-slider mdl-js-slider"
                      type="range" min="0.00" max="1.0" step="0.01" value="-1"></span></span>
                </span>
              </div>
            </div>
            <div class="slider">
              <div class="position-dirty slider-padding mdl-textfield mdl-js-textfield mdl-textfield--floating-label 	">
                <label class="mdl-textfield__label" for="sample3">Save Every</label>
                <br>
                <span class="values slider-value">0</span>
                <span class="slider-above">
                  <span class="no-border values amount"><input id="sldSaveEvery" class="mdl-slider mdl-js-slider"
                      type="range" min="10" max="1000" step="10" value="-1"></span></span>
                </span>
              </div>
            </div>
            <div class="slider">
              <div class="position-dirty slider-padding mdl-textfield mdl-js-textfield mdl-textfield--floating-label 	">
                <label class="mdl-textfield__label" for="sample3">Hidden Layers</label>
                <br>
                <span class="values slider-value">0</span>
                <span class="slider-above">
                  <span class="no-border values amount"><input id="sldHiddenLayers" class="mdl-slider mdl-js-slider"
                      type="range" min="1" max="100" step="1" value="-1"></span></span>
                </span>
              </div>
            </div>
            <br>
            <br>
            <button id="btnCookTrain" type="submit"
              class="mdl-button mdl-js-button mdl-js-ripple-effect">Offline</button>
            <button id="btnCookTrainReal" type="submit"
              class="mdl-button mdl-js-button mdl-js-ripple-effect">Online</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="predictFactory" style="display: none" class="boxes">
    <div class="overlay"> </div>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--3-col"></div>
      <div class="mdl-cell mdl-cell--6-col">
        <div class='init-box-position' style="margin: auto;">
          <div class=" init-box-robot mdl-shadow--4dp">
            <button id="btnCloseTrain"
              class="btn-close mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored   	">
              <i class=" material-icons">close</i>
            </button>
            <button class="btnTogether">
              <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="together">
                <span class="mdl-switch__label">Together</span>
                <input type="checkbox" id="together" class="mdl-switch__input" checked>
              </label>
            </button>
            <h4>Let's predict!</h4>
            <div id="boxUsers">
              <div class="position-dirty mdl-textfield mdl-js-textfield mdl-textfield--floating-label 	">
                <label class="mdl-textfield__label" for="sample3">Users</label>
              </div>
              <div id="typeMarket">
                <div class="correct_score" style="display: block">
                  <select class="mdl-selectfield__select" id="cmbUserA" name="professsion">
                    <option value=""></option>
                  </select>
                  <span class="second-team"> VS </span>
                  <select class="mdl-selectfield__select" id="cmbUserB" name="professsion">
                    <option value=""></option>
                  </select>
                </div>
              </div>
            </div>
            <div id="boxTeams">
              <div class="position-dirty mdl-textfield mdl-js-textfield mdl-textfield--floating-label 	">
                <label class="mdl-textfield__label" for="sample3">Teams</label>
              </div>
              <div id="typeMarket">
                <div class="correct_score" style="display: block">
                  <select class="mdl-selectfield__select" id="cmbTeamA" name="professsion">
                    <option value=""></option>
                  </select>
                  <span class="second-team"> VS </span>
                  <select class="mdl-selectfield__select" id="cmbTeamB" name="professsion">
                    <option value=""></option>
                  </select>
                </div>
              </div>
            </div>
            <br>
            <br>
            <button id="btnCookPredict" type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect">Lets
              cook!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="registerFactory" style="display: none" class="boxes">
    <div class="overlay"> </div>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--3-col"></div>
      <div class="mdl-cell mdl-cell--6-col">
        <div class='init-box-position' style="margin: auto;">
          <div class=" init-box-robot mdl-shadow--4dp">
            <button id="btnCloseTrain"
              class="btn-close mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored   	">
              <i class=" material-icons">close</i>
            </button>
            <h4>Register gId!</h4>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input id="txtGid" class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
              <label class="mdl-textfield__label" for="sample4">Insert here the gId...</label>
              <span class="mdl-textfield__error">Input is not a number!</span>

            </div>
            <button id="btnAddRegister" type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect">Add</button>
            <br>
            <br>
            <button id="btnRegisterGids" type="submit"
              class="mdl-button mdl-js-button mdl-js-ripple-effect">Register!</button>
            <div>
              <table style="display:none"
                class="mdl-data-dynamictable  mdl-data-table mdl-js-data-table  mdl-shadow--2dp">
                <thead>
                  <tr>
                    <th>gIds</th>
                    <th class="mdl-data-table__cell--non-numeric">Status</th>
                    <th class="mdl-data-table__cell--non-numeric">Delete</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="robotFactory" style="display: none">
    <div style="display: block" class="overlay"> </div>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--3-col"></div>
      <div class="mdl-cell mdl-cell--6-col">
        <div class='init-box-position' style="margin: auto;">
          <div class=" init-box-robot mdl-shadow--4dp">
            <button id="btnCloseRobot"
              class="btn-close mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored   	">
              <i class=" material-icons">close</i>
            </button>
            <button id="btnSaveRobot"
              class="btn-save mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored   	">
              <i class="material-icons">save</i>
            </button>
            <h4>Let's predict!</h4>
            <div>
              <div class="game-dirty mdl-textfield mdl-js-textfield mdl-textfield--floating-label 	">
                <input class="mdl-textfield__input label-float" type="text" id="txtGame">
                <label class="mdl-textfield__label" for="sample3">Game</label>
              </div>
              <div id="position">
                <div class="position-dirty mdl-textfield mdl-js-textfield mdl-textfield--floating-label 	">
                  <label class="mdl-textfield__label" for="sample3">Position</label>
                </div>
                <div>
                  <span id="chipBack" class="mdl-chip mdl-chip--contact">
                    <span class="mdl-chip__contact mdl-color--pink-400 mdl-color-text--white">B</span>
                    <span class="mdl-chip__text">back</span>
                  </span>
                  <span id="chipLay" class="mdl-chip mdl-chip--contact">
                    <span class="mdl-chip__contact mdl-color--pink-400 mdl-color-text--white">L</span>
                    <span class="mdl-chip__text">lay</span>
                  </span>
                </div>
              </div>
              <div id="market">
                <div class="market-dirty mdl-textfield mdl-js-textfield mdl-textfield--floating-label 	">
                  <label class="mdl-textfield__label" for="sample3">Market</label>
                </div>
                <div>
                  <span id="chipCorrectScore" class="mdl-chip mdl-chip--contact">
                    <span class="mdl-chip__contact mdl-color--blue-A400	mdl-color-text--white">CS</span>
                    <span class="mdl-chip__text">correct_score</span>
                  </span>
                  <span id="chipMatchOdds" class="mdl-chip mdl-chip--contact">
                    <span class="mdl-chip__contact mdl-color--blue-A400 mdl-color-text--white">MO</span>
                    <span class="mdl-chip__text">match_odds</span>
                  </span>
                  <span id="chipUnderOver" class="mdl-chip mdl-chip--contact">
                    <span class="mdl-chip__contact mdl-color--blue-A400 mdl-color-text--white">UO</span>
                    <span class="mdl-chip__text">under_over</span>
                  </span>
                </div>
              </div>
              <div id="typeMarket">
                <div class="correct_score" style="display: block">
                  <span id="homeName" class="first-team">Barcelona </span>
                  <div class="mdl-textfield mdl-js-textfield is-upgraded is-focused" data-upgraded=",MaterialTextfield">
                    <input id="homeScore" class="mdl-textfield__input" type="number" id="sample0">
                    <label class="mdl-textfield__label" for="sample0"></label>
                  </div>
                  <span class="second-team"> VS </span>
                  <div class="mdl-textfield mdl-js-textfield is-upgraded is-focused" data-upgraded=",MaterialTextfield">
                    <input id="awayScore" class="mdl-textfield__input" type="number" id="sample1">
                    <label class="mdl-textfield__label" for="sample1"></label>
                  </div>
                  <span id="awayName" class="second-team"> Fluminence</span>
                </div>
                <div class="match_odds" style="display: none">
                  <br>
                  <span id="chipHome" class="class-chipHome mdl-chip mdl-chip--contact">
                    <span class="mdl-chip__contact mdl-color--purple-500 mdl-color-text--white">H</span>
                    <span class="mdl-chip__text">home</span>
                  </span>
                  <span id="chipAway" class="mdl-chip mdl-chip--contact">
                    <span class="mdl-chip__contact mdl-color--purple-500 mdl-color-text--white">A</span>
                    <span class="mdl-chip__text">away</span>
                  </span>
                  <span id="chipDraw" class="mdl-chip mdl-chip--contact">
                    <span class="mdl-chip__contact mdl-color--purple-500 mdl-color-text--white">D</span>
                    <span class="mdl-chip__text">draw</span>
                  </span>
                </div>
                <div class="under_over" style="display: none">
                  <div>
                    <br>
                    <span id="chipUnder" class="mdl-chip mdl-chip--contact">
                      <span class="mdl-chip__contact mdl-color--amber-A200 mdl-color-text--white">U</span>
                      <span class="mdl-chip__text">under</span>
                    </span>
                    <span id="chipOver" class="mdl-chip mdl-chip--contact">
                      <span class="mdl-chip__contact mdl-color--amber-A200 mdl-color-text--white">O</span>
                      <span class="mdl-chip__text">over</span>
                    </span>
                  </div>
                  <div class="mdl-textfield mdl-js-textfield">
                    <input id="operator" class="mdl-textfield__input" type="text" id="sample2">
                    <label class="mdl-textfield__label" for="sample2">operator</label>
                  </div>
                  <div class="mdl-textfield mdl-js-textfield">
                    <input id="odd" class="mdl-textfield__input" type="number" id="sample3">
                    <label class="mdl-textfield__label" for="sample3"> odd</label>
                  </div>
                  <div class="mdl-textfield mdl-js-textfield">
                    <input id="closeMinute" class="mdl-textfield__input" type="number" id="sample4">
                    <label class="mdl-textfield__label" for="sample4">close min</label>
                  </div>
                </div>
              </div>
            </div>
            <div id="stake">
              <div class="position-dirty mdl-textfield mdl-js-textfield mdl-textfield--floating-label 	">
                <label class="mdl-textfield__label" for="sample3">Stake</label>
                <br>
                <br>
                <span>
                  <span class="values amount">$ <span id="valueStake">0.0</span></span>
                  <span class="values perc"> <span id="valuePercStake">0.0</span>%</span>
                </span>
                <input id="sliderStake" class="mdl-slider mdl-js-slider" type="range" min="0" max="10000" value="0"
                  tabindex="0">
              </div>
            </div>
            <button id="btnBuild" type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect">Lets
              cook!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div id="demo-snackbar-example" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
  </div>
  <!-- Container -->
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <div class="android-header mdl-layout__header mdl-layout__header--waterfall">
      <div class="mdl-layout__header-row">
        <span class="android-title mdl-layout-title">
          <spam id="txtBudget" class="font-title">brother.bet</spam>
        </span>
        <!-- Add spacer, to align navigation to the right in desktop -->
        <div class="android-header-spacer mdl-layout-spacer"></div>
        <div class="android-navigation-container">
          <nav class="android-navigation mdl-navigation">
            <div class="mdl-navigation__link mdl-typography--text-uppercase">
              <i id="statusCloud" style="color: #767777" class="material-icons">cloud</i>
            </div>
            <button style="display:none; line-height: 0"
              class="mdl-button  mdl-navigation__link mdl-typography--text-uppercase">
              <img id="" class="status-betfair" src="images/betfair-color.png" />
            </button>
            <button style="line-height: 0" class="mdl-button  mdl-navigation__link mdl-typography--text-uppercase">
              <span class="cifra-brother">b &nbsp</span>
              <span id="brotherBonus">...</span>
            </button>
            <button style="line-height: 0" class="mdl-button  mdl-navigation__link mdl-typography--text-uppercase">
              <span>$ &nbsp</span>
              <span id="money">...</span>
            </button>
          </nav>
        </div>
        <!-- Navigation -->
        <button class="android-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect"
          id="more-button">
          <i onselectstart="return false;" ondragstart="return false" class="material-icons">arrow_upward</i>
        </button>
        <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
          <li>
            <a class="mdl-menu__item" href="#lAccount" id="btnLAccount">BrotherBet account</a>
          </li>
          <li>
            <a class="mdl-menu__item" href="#betfairAccount" id="btnBetfairAccount">Betfair account</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="android-drawer mdl-layout__drawer">
      <span class="mdl-layout-title">
        <img class="logo-image" src="images/name_w.png">
        <img class="logo-image-2" src="images/logo_alone.png">
      </span>
      <nav class="mdl-navigation">
        <a id="btnHomes" class="mdl-navigation__link">Home</a>
        <div class="android-drawer-separator"></div>
        <a id="btnAdmins" class="mdl-navigation__link">Admin</a>
        <!-- <a id="btnAccounts" class="mdl-navigation__link">Account</a>
        <a id="btnMethods" class="mdl-navigation__link">Method</a>
        <a id="btnProfits" class="mdl-navigation__link">Profit</a>
        <a id="btnContacts" class="mdl-navigation__link">Contact</a>
        <div class="android-drawer-separator"></div>
        <a id="btnLogout" class="mdl-navigation__link">Logout</a> -->
      </nav>
    </div>
    <div>
      <div class="automations ">
        <div>
          <button id='btnNeural'
            class="animated bounceInUp animated-delay-1 actions-fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect">
            <i class="material-icons">psychology</i>
          </button>
          <div class="mdl-tooltip" data-mdl-for="btnNeural">Neural Network </div>
        </div>

        <div>
          <button id='btnPredict'
            class="animated bounceInUp animated-delay-3 actions-fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect">
            <i class="material-icons">insights</i>
          </button>
          <div class="mdl-tooltip" data-mdl-for="btnPredict"> Predict </div>
        </div>
        <div>
          <button style="display:none" id="btnLogoutFun"
            class="animated bounceInUp animated-delay-5 actions-fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect">
            <i class="material-icons">accessible_forward</i>
          </button>
          <div class="mdl-tooltip" data-mdl-for="btnLogoutFun"> Logout </div>
        </div>
      </div>
      <div id="home" style="display: block" class="android-content mdl-layout__content">
        <!-- Simple header with scrollable tabs. -->
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
          <header id="myTabs" class=" mdl-tabs mdl-js-tabs mdl-layout__header">
            <!-- Tabs -->
            <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
              <a id="btnTabPresentation" href="#tabPresentation"  style="display:none;"class="mdl-layout__tab is-active">Presentation</a>
              <a id="btnTabRankUsersHistory" href="#tabRankUsersHistory"  style="display:none;" class="mdl-layout__tab">Rank Users History</a>
              <a id="btnTabRankTeamsHistory" href="#tabRankTeamsHistory"  style="display:none;" class="mdl-layout__tab">Rank Teams History</a>
              <a id="btnTabRankUsers" href="#tabRankUsers" class="mdl-layout__tab">Rank Users</a>
              <a id="btnTabRankTeams" href="#tabRankTeams" class="mdl-layout__tab">Rank Teams</a>
            </div>
          </header>
          <main class="mdl-layout__content">
            <section class="mdl-layout__tab-panel is-active" id="tabPresentation">
              <div class="page-content">
                <div id="tchanTiped" class="init-content mdl-typography--text-center">
                  <div id="tchanTiped" class="logo-font android-slogan">
                    <span class="typed"></span>
                    <span class="typed-cursor"></span>
                    <div class="logo-font android-sub-slogan">welcome to brother bet. do your thing. see what's going
                      on.
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section class="mdl-layout__tab-panel" id="tabRankUsers"> </section>
            <section class="mdl-layout__tab-panel" id="tabRankTeams"> </section>
            <section class="mdl-layout__tab-panel" id="tabRankUsersHistory"> </section>
            <section class="mdl-layout__tab-panel" id="tabRankTeamsHistory"> </section>
          </main>
        </div>
      </div>
    </div>
    <div id="account" style="display: none" class="android-content mdl-layout__content">
      <div id="lAccount" class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col"></div>
        <div class="mdl-cell mdl-cell--4-col">

          <div class='init-box-position'>
            <div class="container">
              <i class="material-icons profile-circle mdl-shadow--4dp">photo_camera</i>
              <div class="image profile-circle mdl-shadow--4dp"></div>
            </div>
            <div class="init-box mdl-shadow--4dp">
              <div id='mdl-cell mdl-cell--1-col '>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label 	">
                  <input style="display:none" class="mdl-textfield__input label-float" type="email">
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input label-float" type="email" id="txtEmail">
                  <label class="mdl-textfield__label" for="txtEmail">email</label>
                </div>
                <div class=" mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input label-float" type="text" id="txtPhotoURL">
                  <label class="mdl-textfield__label" for="txtPhotoURL">photo url</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input style="display:none" class="mdl-textfield__input labe  l-float" type="email">
                  <input class="mdl-textfield__input label-float" type="password" autocomplete="off" id="txtPassword">
                  <label class="mdl-textfield__label" for="txtPassword">password</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="keyEnter">
                  <input style="display:none" class="mdl-textfield__input label-float" type="email">
                  <input class="mdl-textfield__input sign-sample" autocomplete="nope" type="password"
                    id="txtRePassword">
                  <label class="mdl-textfield__label" for="txtRePassword">re-password</label>
                </div>
                <div id="betfairAccount" class="init-box-bet mdl-shadow--4dp">
                  <div id='mdl-cell mdl-cell--1-col '>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label 	">
                      <input class="mdl-textfield__input label-float" type="text" id="txtUsername">
                      <label class="mdl-textfield__label" for="txtUsername">username betfair</label>
                    </div>
                    <div class=" mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input style="display:none" class="mdl-textfield__input label-float" type="email">
                      <input class="mdl-textfield__input label-float" type="password" id="txtPasswordBet">
                      <label class="mdl-textfield__label" for="txtPasswordBet">password betfair</label>
                    </div>
                    <div class=" mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <input class="mdl-textfield__input label-float" type="text" id="txtApiKey">
                      <label class="mdl-textfield__label" for="txtApiKey">apiKey</label>
                    </div>
                  </div>
                </div>
              </div>
              <button id='btnUpdate' class="mdl-button mdl-js-button mdl-js-ripple-effect">
                update profile
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="method" style="display: none" class="android-content mdl-layout__content">
      <main class="init-content mdl-layout__content">
        <div class="mdl-grid portfolio-max-width">
          <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
            <div class="mdl-grid portfolio-copy">
              <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Initial Ideas</h3>
              <div class="mdl-cell mdl-cell--6-col mdl-card__supporting-text no-padding">
                <ul>
                  <li>1 - o software reconhecer pontos de resistencia.</li>
                  <li>2 - perceber a caida rapida e ativar tick offset.</li>
                  <li>3 - perceber o gol e pegar os ticks logo em seguida.</li>
                  <li>4 - fazer o preço da aposta media para ser facilmente absorvido pelo mercado.</li>
                  <li>5 - ensinar o robô a propor entrada (e desistir da entrada).</li>
                  <li>6 - puxar da 365 o valor da proxima odd e propor entrada.</li>
                  <li>7 - indicar graficamente o que ele ta fazendo e pq.</li>
                  <li>8 - perceber e comprar bolas paradas.</li>
                  <li>9 - ajustar o trade ao tempo de entrada e saída.</li>
                  <li>10 - priorizar swing no primeiro tempo e trade no segundo.</li>
                  <li>11 - perceber liquidez.</li>
                </ul>
              </div>
              <div class="mdl-cell mdl-cell--6-col">
                <img class="article-image" src="" border="0" alt="">
              </div>
              <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Types of Markets</h3>
              <div class="mdl-cell mdl-cell--6-col">
                <img class="article-image" src="" border="0" alt="">
              </div>
              <div class="mdl-cell mdl-cell--6-col mdl-card__supporting-text no-padding ">
                <ul>
                  <li>1 - Match odds, the winner.</li>
                  <li>2 - Under/over, mais/menos goals.</li>
                  <li>3 - Match result.</li>
                  <li>(Back and lay for all ones.) </li>
                </ul>
              </div>
              <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Under 2.5 HT</h3>
              <div class="mdl-cell mdl-cell--6-col mdl-card__supporting-text no-padding">
                <ol>
                  <li>Find markets.</li>
                  <li>If FH and have a goal and odd > 1.4, UNDER 2.5 HT</li>
                  <li>If FH and have another goal and odd > 1.4, UNDER 2.5 HT</li>
                  <li>If second half, close bet.</li>
                </ol>
              </div>
              <div class="mdl-cell mdl-cell--6-col">
                <img class="article-image" src="" border="0" alt="">
              </div>
              <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Martingale</h3>
              <div class="mdl-cell mdl-cell--6-col">
                <img class="article-image" src="" border="0" alt="">
              </div>
              <div class="mdl-cell mdl-cell--6-col mdl-card__supporting-text no-padding">
                <p>
                  Excepteur reprehenderit sint exercitation ipsum consequat qui sit id velit elit. Velit anim
                  eiusmod
                  labore sit amet. Voluptate
                  voluptate irure occaecat deserunt incididunt esse in. Sunt velit aliquip sunt elit ex nulla
                  reprehenderit
                  qui ut eiusmod ipsum do. Duis veniam reprehenderit laborum occaecat id proident nulla veniam. Duis
                  enim
                  deserunt voluptate aute veniam sint pariatur exercitation. Irure mollit est sit labore est
                  deserunt
                  pariatur
                  duis aute laboris cupidatat. Consectetur consequat esse est sit veniam adipisicing ipsum enim
                  irure.
                </p>
              </div>
              <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Final Concept</h3>
              <div class="mdl-cell mdl-cell--6-col mdl-card__supporting-text no-padding ">
                <p>
                  Excepteur reprehenderit sint exercitation ipsum consequat qui sit id velit elit. Velit anim
                  eiusmod
                  labore sit amet. Voluptate
                  voluptate irure occaecat deserunt incididunt esse in. Sunt velit aliquip sunt elit ex nulla
                  reprehenderit
                  qui ut eiusmod ipsum do. Duis veniam reprehenderit laborum occaecat id proident nulla veniam. Duis
                  enim
                  deserunt voluptate aute veniam sint pariatur exercitation. Irure mollit est sit labore est
                  deserunt
                  pariatur
                  duis aute laboris cupidatat. Consectetur consequat esse est sit veniam adipisicing ipsum enim
                  irure.
                </p>
                <ul>
                  <li>1 - Match odds, the winner.</li>
                  <li>2 - Under/over, mais/menos goals.</li>
                  <li>3 - Match result.</li>
                  <li>(Back and lay for all ones.) </li>
                </ul>
              </div>
              <div class="mdl-cell mdl-cell--6-col">
                <img class="article-image" src="" border="0" alt="">
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <div id="game" style="display:none" class="mdl-grid ">
      <table
        class="mdl-data-dynamictable mdl-data-table__row--selectable mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
        <thead>
          <tr>
            <th id="checkbox-all-games" class="mdl-data-table__cell--non-numeric">Game</th>
            <th>Country</th>
            <th>Time Begin</th>
            <th>Timezone</th>
            <th>Venue</th>
            <th>Market Count</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div id="admin" style="display:none" class="mdl-grid ">
      <div class="automations invAutomations">
        <div>
          <button id='btnFactoryRegister'
            class="animated bounceInUp animated-delay-1 actions-fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect">
            <i class="material-icons">post_add</i>
          </button>
          <div class="mdl-tooltip" data-mdl-for="btnFactoryRegister">Add gId </div>
        </div>
      </div>
      <table class="mdl-data-dynamictable mdl-data-table mdl-js-data-table  mdl-shadow--2dp">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">Day</th>
            <th class="mdl-data-table__cell--non-numeric">Id</th>
            <th class="mdl-data-table__cell--non-numeric">Verified</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div id="robot" style="display: block" class="android-content mdl-layout__content"></div>
    <div id="profit" style="display: block" class="android-content mdl-layout__content"></div>
    <div id="contact" class="android-content mdl-layout__content">
      <main class="init-content mdl-layout__content">
        <div class="mdl-grid portfolio-max-width portfolio-contact">
          <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
            <div class="mdl-card__media article-image">
            </div>
            <div class="mdl-card__supporting-text">
              <p>
                Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim
                nostrud aliqua consectetur
                ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
              </p>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                <input class="mdl-textfield__input" pattern="[A-Z,a-z, ]*" type="text" id="Name1">
                <label class="mdl-textfield__label" for="Name1">Name...</label>
                <span class="mdl-textfield__error">Letters and spaces only</span>
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                <input class="mdl-textfield__input" type="text" id="Email1">
                <label class="mdl-textfield__label" for="Email1">Email...</label>
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                <textarea class="mdl-textfield__input" type="text" rows="5" id="note"></textarea>
                <label class="mdl-textfield__label" for="note">Enter note</label>
              </div>
              <p>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                  type="submit">
                  Submit
                  <span class="mdl-button__ripple-container ">
                    <span class="mdl-ripple "></span>
                  </span>
                </button>
              </p>
            </div>
          </div>
        </div>
    </div>
    </main>
  </div>
  <div id="game" style="display:none" class="mdl-grid ">
    <table
      class="mdl-data-dynamictable mdl-data-table__row--selectable mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
      <thead>
        <tr>
          <th id="checkbox-all-games" class="mdl-data-table__cell--non-numeric">Game</th>
          <th>Country</th>
          <th>Time Begin</th>
          <th>Timezone</th>
          <th>Venue</th>
          <th>Market Count</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    </table>
  </div>
  <div id="robot" style="display: none" class="android-content mdl-layout__content"></div>
  <div id="profit" style="display: none" class="android-content mdl-layout__content">
    <main class="init-content mdl-layout__content">
      <div class="mdl-grid portfolio-max-width">
        <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
          <div class="mdl-grid portfolio-copy">
            <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Obtenção de Lucro</h3>
            <div class="mdl-cell mdl-cell--10-col mdl-card__supporting-text no-padding">
              <ol>
                <li>7 dias de teste grátis.
                  <ul>
                    <li>A oportunidade de mercado é tornar o usuário fã da facilitação da estratégia.</li>
                  </ul>
                </li>
                <li>Mensalidade viram X brotherBonus.</li>
                <li>Possibilidade de rodar os robôs real, cobrando 20% do lucro.</li>
                <li>Possibilidade de rodar os robôs real, cobrando brotherBonus.</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div id="contact" class="android-content mdl-layout__content">
        <main class="init-content mdl-layout__content">
          <div class="mdl-grid portfolio-max-width portfolio-contact">
            <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
              <div class="mdl-card__media article-image"></div>
              <div class="mdl-card__supporting-text">
                <p>
                  Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim
                  nostrud aliqua consectetur
                  ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
                </p>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                  <input class="mdl-textfield__input" pattern="[A-Z,a-z, ]*" type="text" id="Name">
                  <label class="mdl-textfield__label" for="Name">Name...</label>
                  <span class="mdl-textfield__error">Letters and spaces only</span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                  <input class="mdl-textfield__input" type="text" id="Email">
                  <label class="mdl-textfield__label" for="Email">Email...</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                  <textarea class="mdl-textfield__input" type="text" rows="5" id="note"></textarea>
                  <label class="mdl-textfield__label" for="note">Enter note</label>
                </div>
                <p>
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                    type="submit">
                    Submit
                    <span class="mdl-button__ripple-container ">
                      <span class="mdl-ripple "></span>
                    </span>
                  </button>
                </p>
              </div>
            </div>
          </div>
        </main>
      </div>
      <footer>
        <!-- jQuery -->
        <script src="js/plugins/jquery-3.3.1.min.js"></script>
        <script src="js/plugins/typed.js"></script>
        <script src="js/plugins/pace.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.min.js"></script>
        <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-app.js "></script>
        <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-firestore.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-auth.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="js/api.js"></script>
        <script src="js/betfair.js"></script>
        <script src="js/insert.js"></script>
        <script src="js/robots.js"></script>
        <script src="js/gids.js"></script>
        <script src="js/database.js"></script>
        <script src="js/fifa.js"></script>
        <script src="js/machineLearning.js"></script>
        <script src="js/mL.js"></script>
        <script src="js/effects.js"></script>
        <script src="js/tablesEffect.js"></script>
      </footer>


</body>


</html>