<table class="mdl-data-dynamictable  mdl-data-table mdl-js-data-table  mdl-shadow--2dp">
    <thead>
        <tr>
            <th> </th>
            <th> </th>
            <th> </th>
            <th class="">Goals</th>
            <th class=""> Medium </th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th class="tableOdd">Under </th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th class=""> Over </th>
            <th> </th>
            <th> </th>
        </tr>
    </thead>
    <thead class="tHeadAbove">
        <tr>
            <th class="link">
                <span class="name">Team</span>
                <i class=" material-icons">filter_alt</i>
            </th>
            <th class="gold">
                <span class="ranking">Ranking</span>
                <i class=" material-icons"></i>
            </th>
            <th class="tableOdd">
                <span class="games">Games</span>
                <i class=" material-icons">filter_alt</i>
            </th>
            <th class="">
                <span class="goalsPro">Pro</span>
                <i class=" material-icons">filter_alt</i>
            </th>
            <th class="">
                <span class="goalsCon">Con</span>
                <i class=" material-icons">filter_alt</i>
            </th>
            <th class="tableOdd">
                <span class="wins">Wins</span>
                <i class=" material-icons">filter_alt</i>
            </th>
            <th class="">
                <span class="draws">Draws</span>
                <i class=" material-icons">filter_alt</i>
            </th>
            <th class="tableOdd">
                <span class="losses">Losses</span>
                <i class=" material-icons">filter_alt</i>
            </th>
            <th class="">
                <span class="bothScore">Both Score</span>
                <i class=" material-icons">filter_alt</i>
            </th>
            <th class="tableOdd">
                <span class="underHalf">0.5</span>
                <i class=" material-icons">filter_alt</i>
            </th>
            <th class="tableOdd">
                <span class="underOneAndHalf">1.5</span>
                <i class=" material-icons">filter_alt</i>
            </th>
            <th class="tableOdd">
                <span class="underTwoAndHalf">2.5</span>
                <i class=" material-icons">filter_alt</i>
            </th>
            <th class="tableOdd">
                <span class="underThreeAndHalf">3.5</span>
                <i class=" material-icons">filter_alt</i>
            </th>
            <th class="tableOdd">
                <span class="underFourAndHalf">4.5</span>
                <i class=" material-icons">filter_alt</i>
            </th>
            <th class="">
                <span class="overHalf">0.5</span>
                <i class=" material-icons">filter_alt</i>
            </th>
            <th class=" ">
                <span class="overOneAndHalf">1.5</span>
                <i class=" material-icons">filter_alt</i>
            </th>
            <th class="">
                <span class="overTwoAndHalf">2.5</span>
                <i class=" material-icons">filter_alt</i>
            </th>
            <th class="">
                <span class="overThreeAndHalf">3.5</span>
                <i class=" material-icons">filter_alt</i>
            </th>
            <th class="">
                <span class="overFourAndHalf">4.5</span>
                <i class=" material-icons">filter_alt</i>
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>