  <table class=" tables-head mdl-data-dynamictable  mdl-data-table mdl-js-data-table  mdl-shadow- -2dp">
    <thead class="">
      <tr>
          <th></th>
          <th class="odd">Date:</th>
          <th><span>2020-01-01</span></th>
          <th ></th>
      </tr>
  </thead>
    <tbody>
    </tbody>
  </table>
