/* Variables */

:root {
    /* Color */
    --primary_color_1: rgb(118, 3, 141);
    --secondary_color_3: rgba(64, 50, 148, 1);
}

/* Fonts */

h4 {
    font-weight: 100;
    line-height: 1em;
    letter-spacing: 0.1em;
    color: black;
    text-align: center;
}

#report {
    display: none;
}

/* Content */

body {
    background: linear-gradient(30deg, var(--secondary_color_3), var(--primary_color_1));
    overflow:hidden;
}

/* Material */
.mdl-textfield {
    width: 80% !important;
}

/* Id */


#btnEnter {
    transition: visibility 0s, opacity 0.5s linear;
}

#btnClose {
    transition: transform 1s;
    display: none;
}

#btnClose:hover {
    transform: rotate(180deg);
}

/* Class */
.init-position{
    padding: 5vh 0 5vh 0 !important;
    padding: 25vh 0 25vh 0 !important;

}

.init-box {
    height: 30vh;
    border-radius: 10px;
    background: white;
    text-align: center;
    padding: 5vh 0 15vh 0 !important;
    width: 100%;
}

.container {
    position: relative;
    display: flex;
    float: left;
    top: 5vh;
    top: 5vh;
    width: 30vh;
    min-width: 10%;
    z-index: 10;
}

.icon {
    position: absolute;
    display: flex;
    float: left;
    top: -20vh;
    left: -5vh;
    width: 30vh;
    min-width: 10%;
    z-index: 10;
}

.mdl-button--fab.mdl-button--mini-fab {
    position: absolute;
    top:20vh;
    width: 30px !important;
    height: 30px !important;
    min-width: 30px !important;
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, .03), 0 1px 1px 0 rgba(0, 0, 0, .05);
}

.mdl-button--fab.mdl-button--colored {
    background: white !important;
    color: rgb(103, 58, 183) !important;
}

@media only screen and (max-width: 468px) {
    .icon {
        position: absolute;
        display: flex;
        float: left;
        left: 1vh;
        width: 27vh;
        min-width: 10%;
        z-index: 10;
    }
  }